body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  /* padding:  0 1em 0 1em; */
  font-size: 16pt;
  /* background-color: rgb(242, 242, 230); */
}


/* -------------------------- */
figcaption {
  font-size: 1rem;
  text-align: center;

}

/* skip to main content */
a {
  text-decoration: none;
}

a.skip {
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus {
  top: 20px;
  color: black;
  text-decoration-style: solid;
}
/* -- End of skip to main content-- */


/* -------------------------- */


/* --Navbar-- */
/* responsive menu */
/* end of responsive menu */


header {
  background: rgb(0, 47, 167);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nav_links {
  display: flex;
  flex-direction: column;
  ;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

#logo {
  margin: auto;
  width: 50px;
}

.nav_item {
  padding: 0 0 0.2rem 0;
}

.nav_item a {
  color: white;
}

.nav_item a:hover,
a:focus {
  color: #50C7C7;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
}
/* -- End of Navbar-- */


/* ----------------------- */


/* --footer section-- */
.footer {
  position: static;
  bottom: 0;
  width: 100%;
  padding: 5px 5px;
  background-color: rgb(0, 47, 167);
  font-size: 0.8rem;
}

.footer_items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer_item a {
  color: white;
  text-decoration: none;
}

.footer_text {
  color: white;
  text-decoration: none;
  text-align: center;
}
/* -- end of footer section-- */


/* ----------------------- */


/* --animation keyframes-- */
/* Fade in  */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#logo {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
}

#parallax {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
}

/* parallax image */
#parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  background-image: url('/images/lg1.jpeg');
  background-repeat: no-repeat;
}

#slogan p,
#slogan h1 {
  margin-bottom: 20px;
  text-align: center;
}

#parallax p,
#parallax h1 {
  margin-top: 50px;
  margin-bottom: 100px;
  color: black;
  background-color: rgba(255, 255, 255);
  font-size: 1.8rem;
  text-align: center;
}

/* Progress bar */
body {
  position: relative;
}

.indicator {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right top, red 50%, transparent 50%) no-repeat;
  background-size: 100% calc(100% - 100vh);
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: darken;
}

.indicator::after {
  content: '';
  position: fixed;
  top: 4px;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 1;
}
/* -- end of animation-- */


/* --------------------- */
main {
  margin: 20px 0 10px;
  padding: 0 1em 0 1em;
}







/* --Contact Page-- */
/* --GRID STRUCTURE-- */
.container_contact {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

/* --ENd of GRID STRUCTURE-- */


/* Contact form */
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgb(0, 47, 167);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: darkgreen;
}

/* Add a background color and some padding around the form */
.form_container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact_text {
  text-align: center;
  padding: 0 2em 0 2em;
}

/* index page grid */
.container_b {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  padding-bottom: 2rem;
}

.container_g {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-bottom: 1rem;
}
/* Grid item Slogan */
.container_b :nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

/* Grid item parallax */
.container_b :nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.container_g img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}



/* --About us Page--
.thank_img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  padding-bottom: 2em;
} */

/* The flip card container - set the width and height to whatever you want. 
We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 700px;
  height: 200px;
  display: block;
  border: 1px solid #f1f1f1;
  margin: 30px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%; 
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: orange;
  color: black;
  transform: rotateY(180deg);
  padding-top: 20px;
}



/* --Media Queries-- */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }

  nav {
    width: 100%;
  }

  .nav_links {
    flex-direction: row;
    justify-content: space-around;
  }

  .nav_item a {
    padding: 10px;
  }

  .container_g {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    display: flex;
    flex-direction: row;
  }

  nav {
    width: 95%;
  }

  .nav_links {
    flex-direction: row;
    justify-content: flex-start;
  }

  .nav_item {
    padding: 0 3rem 0rem 0;
  }


  .container_b {
    grid-template-columns: repeat(6, 1fr);
    
  }

  /* Grid item Slogan */
  .container_b :nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  /* Grid item parallax */
  .container_b :nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 3 / -1;
  }

  .container_g {
    grid-template-columns: repeat(4, 1fr);
  }
  #slogan p,
  #slogan h1 {
    margin-top: 60px;
    margin-right: 15px;
    text-align: right;
    font-size: 1.3rem;
  }
}


/* Reduced-motion*/
@media (prefers-reduced-motion) {
  #logo,
  #parallax {
    animation: none;
  }
}
/* --ENd of Media Queries-- */