/* animation */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400, 600");
.hero-btn {
  position: relative;
  width: 200px;
  margin: auto;
  height: 66px;
}
.hero-btn .btn {
  background-color: #ff0083;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  width: 200px;
  height: 66px;
  text-align: center;
  line-height: 66px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-box-shadow: 0 15px 40px rgba(255, 0, 131, 0.5);
  -webkit-box-shadow: 0 15px 40px rgba(255, 0, 131, 0.5);
  box-shadow: 0 15px 40px rgba(255, 0, 131, 0.5);
  -moz-transform: perspective(600px) rotateX(0deg) scale(1);
  -ms-transform: perspective(600px) rotateX(0deg) scale(1);
  -webkit-transform: perspective(600px) rotateX(0deg) scale(1);
  transform: perspective(600px) rotateX(0deg) scale(1);
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.hero-btn .btn:hover {
  background-color: #e60076;
  -moz-box-shadow: 0 20px 40px rgba(255, 0, 131, 0.5);
  -webkit-box-shadow: 0 20px 40px rgba(255, 0, 131, 0.5);
  box-shadow: 0 20px 40px rgba(255, 0, 131, 0.5);
}
.hero-btn .btn:active {
  -moz-transform: perspective(600px) rotateX(15deg) scale(0.9);
  -ms-transform: perspective(600px) rotateX(15deg) scale(0.9);
  -webkit-transform: perspective(600px) rotateX(15deg) scale(0.9);
  transform: perspective(600px) rotateX(15deg) scale(0.9);
  font-size: 21px;
  -moz-box-shadow: 0 20px 40px rgba(255, 0, 131, 0.5);
  -webkit-box-shadow: 0 20px 40px rgba(255, 0, 131, 0.5);
  box-shadow: 0 20px 40px rgba(255, 0, 131, 0.5);
}
.active .hero-btn .btn:active {
  -moz-transform: perspective(600px) rotateX(0deg) scale(1);
  -ms-transform: perspective(600px) rotateX(0deg) scale(1);
  -webkit-transform: perspective(600px) rotateX(0deg) scale(1);
  transform: perspective(600px) rotateX(0deg) scale(1);
  font-size: 22px;
  -moz-box-shadow: 0 15px 40px rgba(255, 0, 131, 0.5);
  -webkit-box-shadow: 0 15px 40px rgba(255, 0, 131, 0.5);
  box-shadow: 0 15px 40px rgba(255, 0, 131, 0.5);
}
.hero-btn .particles-circle {
  position: absolute;
  background-color: #ff0083;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 50%;
  margin-left: -15px;
  z-index: -1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  visibility: hidden;
}
.hero-btn .particles-circle:nth-of-type(odd) {
  border: solid 2px #ff0083;
  background-color: transparent;
}
@keyframes particles-1 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 217px;
    top: 11px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(1) {
  animation: particles-1 1.5s 0.025s;
}
@keyframes particles-2 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 214px;
    top: 235px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(2) {
  animation: particles-2 1.5s 0.05s;
}
@keyframes particles-3 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 111px;
    top: 111px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(3) {
  animation: particles-3 1.5s 0.075s;
}
@keyframes particles-4 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -195px;
    top: 155px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(4) {
  animation: particles-4 1.5s 0.1s;
}
@keyframes particles-5 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -187px;
    top: -20px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(5) {
  animation: particles-5 1.5s 0.125s;
}
@keyframes particles-6 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -18px;
    top: -210px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(6) {
  animation: particles-6 1.5s 0.15s;
}
@keyframes particles-7 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 129px;
    top: 69px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(7) {
  animation: particles-7 1.5s 0.175s;
}
@keyframes particles-8 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 223px;
    top: 10px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(8) {
  animation: particles-8 1.5s 0.2s;
}
@keyframes particles-9 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -166px;
    top: -202px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(9) {
  animation: particles-9 1.5s 0.225s;
}
@keyframes particles-10 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 47px;
    top: -200px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(10) {
  animation: particles-10 1.5s 0.25s;
}
.active .hero-btn .particles-circle:nth-of-type(11) {
    animation: particles-11 1.5s 0.275s;
  }
  @keyframes particles-12 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: -45px;
      top: -13px;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .hero-btn .particles-circle:nth-of-type(12) {
    animation: particles-12 1.5s 0.3s;
  }
  @keyframes particles-13 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 157px;
      top: -63px;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .hero-btn .particles-circle:nth-of-type(13) {
    animation: particles-13 1.5s 0.325s;
  }
  @keyframes particles-14 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: -60px;
      top: -149px;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .hero-btn .particles-circle:nth-of-type(14) {
    animation: particles-14 1.5s 0.35s;
  }
  @keyframes particles-15 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: -205px;
      top: 216px;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .hero-btn .particles-circle:nth-of-type(15) {
    animation: particles-15 1.5s 0.375s;
  }
  @keyframes particles-16 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: -28px;
      top: -81px;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .hero-btn .particles-circle:nth-of-type(16) {
    animation: particles-16 1.5s 0.4s;
  }
  @keyframes particles-17 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 1px;
      top: -216px;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .hero-btn .particles-circle:nth-of-type(17) {
    animation: particles-17 1.5s 0.425s;
  }
  @keyframes particles-18 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: -195px;
      top: -96px;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .hero-btn .particles-circle:nth-of-type(18) {
    animation: particles-18 1.5s 0.45s;
  }
  @keyframes particles-19 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 17px;
      top: 11px;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .hero-btn .particles-circle:nth-of-type(19) {
    animation: particles-19 1.5s 0.475s;
  }
  @keyframes particles-20 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 119px;
      top: -153px;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .hero-btn .particles-circle:nth-of-type(20) {
    animation: particles-20 1.5s 0.5s;
  }
  @keyframes particles-21 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: -55px;
      top: 89px;
      transform: scale(0);
      visibility: hidden;
    }
  }
.v-align {
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  max-height: 90vh;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* .wrap__sparks {
  transform: translateZ(-100px);
} */

/* * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

/* html,
body {
  min-height: 100%;
} */

/* body {
  background: #f8faff;
  height: 100vh;
  position: relative;
} */

/* h1 {
  font-size: 24px;
  display: block;
  text-align: center;
  color: #6a11cb;
  font-weight: 500;
} */







body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    /* padding:  0 1em 0 1em; */
    font-size: 16pt;
    background-color: #fff1e6;
}

/* p,
h1 {
    
} */

/* .container{

} */

/* skip to main content */
a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus {
    top: 20px;
    color: black;
    text-decoration-style: solid;
}

/* header section */
header {
    /* background-color: #fff; */
    background-color: rgb(0, 47, 167);
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: column; */
    text-align: center;
    /* justify-content: space-between; */
}

#logo {
    margin: auto;
    width: 50px;
}

/* navigation bar */
.nav_links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 47, 167);
    font-size: 0.6em;
    margin-bottom: 0.5em;
}

.nav_links .left{
    display: flex;
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    width: 40%;
    height: 50px;
    /* padding: 0.5em; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav_links .right{
    top: 0;
    display: flex;
    position: fixed;
    right: 0;
    width: 40%;
    height: 50px;
    /* padding: 0.5em; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav_links .active {
    /* background-color: black; */
    text-decoration: underline;
    font-weight: bold;
    /* font-size: 1em; */
    /* padding: 0.3em 0 0.3em 0; */
}

/* .nav_item { */
    /* justify-content: center; */
    /* padding: 2px; */
    /* justify-content: flex-end; */
/* } */

.nav_item a {
    color: white;
    text-decoration: none;
}

.nav_item a:hover,
a:focus {
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}

.nav_img{
    top: 0;
}

/* footer section */
.footer {
    position: static;
    bottom: 0;
    width: 100%;
    padding: 5px 5px;
    background-color: rgb(0, 47, 167);
    font-size: 12px;
}

.footer_items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_item a {
    color: white;
    text-decoration: none;
}

.footer_text {
    color: white;
    text-decoration: none;
    text-align: center;
}

main{
    margin: 70px 0 10px;
    padding: 0 1em 0 1em;
}

figcaption{
    text-align: center;
}

.thank_img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    padding-bottom: 2em;
}

/* Contact form */
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(0, 47, 167);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: darkgreen;
}

/* Add a background color and some padding around the form */
.form_container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.contact_text {
    text-align: center;
    padding: 0 2em 0 2em;
}

/* index page grid */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 1px;
    column-gap: 2px;
}

.image_0,
.image_2,
.image_4,
.image_6,
.image_8 {
    grid-column: 1/span 1;
}

.image_1,
.image_3,
.image_5,
.image_7,
.image_9 {
    grid-column: 2/span 1;
}

.image_0,
.image_1 {
    grid-row: 1/span 1;
}

.image_2,
.image_3 {
    grid-row: 2/span 1;
}

.image_4,
.image_5 {
    grid-row: 3/span 1;
}

.image_6,
.image_7 {
    grid-row: 4/span 1;
}

.image_8,
.image_9 {
    grid-row: 5/span 1;
}

.img0,
.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9 {
    width: 100%;
}